In [23]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [24]:
url = 'https://en.wikipedia.org/wiki/List_of_largest_companies_in_India'  # site url from where we need to extract data
page = requests.get(url) # taking snap of url
snap = BeautifulSoup(page.text, 'html') # parsing

In [25]:
table = snap.find('table') # finding the needed table data from html snap and putting it into the variable

In [26]:
titles = table.find_all('th') # finding just the column names

In [27]:
clean_titles = [loop.text.strip() for loop in titles] # cleaning extra space,\n etc

In [28]:
df = pd.DataFrame( columns = clean_titles) # putting cleaned column names in panda dataframe

In [29]:
row = table.find_all('tr') # finding row data 
a = 0 # using this variable to store values at proper location in dataframework
for loop0 in row[1:]  : # using loop we are isolating indivisual row data and then putting it into panda framwork
    data = loop0.find_all('td')
    clean_data = [loop1.text.strip() for loop1 in data]
    df.loc[a] = clean_data
    a = a + 1

In [30]:
df.to_csv(r'C:\Users\c.s.markam\Desktop\Python_WebScraping_Project\Largest_Companies_India.csv', index = False)